.office-bg {
  background-image: url("/src/assets/backgr.jpg");
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #ddd;
  }
  
  .table-responsive table {
    min-width: 768px;
  }
}
